body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #999999;
}

p {
    font-size: 36px;
}

#reset {
    font-size: 18px;
    margin-top: 40px;
}

#button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 24px;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: #333333;
    color: #DDDDDD;
    border: none;
}

button:hover {
    animation-name: button-expand;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

button:disabled {
    display: none;
}

@keyframes button-expand {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.4);
    }

}